* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  background-color: #000;
  display: flex;
}

h1 {
  font-weight: 400;
}

.header__logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 12%;
}

nav {
  margin-top: 56px;
  margin-left: 29%;
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}

.topnav a:hover {
  border-bottom: 3px solid #fcac45;
}

.topnav .icon {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .main__welcome {
  background-color: #000;
  text-align: center;
  padding: 200px 0 410px 0;
}

main .main__welcome p {
  color: #999999;
  font-size: 20px;
}
main .main__welcome h1 {
  color: #999999;
  font-size: 44px;
}

.mycompany {
  color: #fcac45;
}

.wrapper {
  width: 76%;
  margin: 0 auto;
}

main .main__about {
  display: flex;
  padding: 100px 0 100px 0;
  justify-content: center;
}

main .about__left {
  justify-content: center;
}

.about__right {
  margin-left: 175px;
}

.about__right h1 {
  display: inline-block;
  border-bottom: 3px solid #fcac45;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-style: normal;
}

.about__right p {
  padding: 30px 0 50px 0;
  color: #6c6c6c;
}

.about__right li {
  background: url(img/marker.png) 0px no-repeat;
  padding-left: 25px;
  margin-top: 10px;
  color: #5a5a5a;
}

.mw-100 {
  min-width: 100%;
}

main .main__team {
  background-color: #000;
  text-align: center;
  padding: 100px 0 165px 0;
  color: #fff;
}

main .main__team h1 {
  margin: 0 auto;
  font-size: 44px;
}

main .team__cards {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

main .card {
  margin-right: 15px;
  margin-left: 15px;
}

main .name {
  font-size: 20px;
  margin-bottom: 15px;
}

main .about__possition {
  font-size: 14px;
}

main .position {
  font-size: 16px;
  margin-bottom: 30px;
}

.photo {
  background-color: #d7d7d7;
  width: 125px;
  height: 125px;

  margin: 20px auto;
  border-radius: 50%;
}

main .main__team h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

main .main__services h1 {
  text-align: center;
  padding: 100px 0 30px 0;
}
main .main__services p {
  color: #6c6c6c;
  margin-bottom: 100px;
  text-align: center;
}
main .main__services h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

main .main__services h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

main .main__client {
  background-color: #000;
  padding: 100px 0 205px 0;
  text-align: center;
}

main .main__client h1 {
  text-align: center;
  color: #fff;
}

main .main__client img {
  margin-top: 20px;
  margin-left: 30px;
}

main .main__client h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

main .main_testimonials {
  background-color: #000;
  color: #fff;
  padding: 100px 0 205px 0;
  text-align: center;
}
main .main__work img:hover {
  opacity: 0.9;
}

main .gallery__line {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
main .gallery {
  width: 100%;
  margin: 0 auto;
}

main .gallery img {
  width: 220px;
  height: 220px;
}

main .main__work p {
  text-align: center;
  margin-bottom: 175px;
  color: #6c6c6c;
}

main .main__work {
  text-align: center;
  padding: 100px 0 100px 0;
}

main .main__work h1 {
  text-align: center;
  padding: 0 0 30px 0;
}

main .main__work h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

main .main_testimonials .testimonials {
  text-transform: uppercase;
  margin-bottom: 50px;
}

main .main_testimonials h1 {
  text-align: center;
  color: #fff;
}

main .main_testimonials h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

main .services__cards {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}

.contact__wrapper {
  width: 60%;
  margin: 0 auto;
  color: #636363;
}

.red {
  color: red;
}

.form__inputs {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: auto;
  background-color: #222222;
  padding: 30px 0 30px 0;
}

.social img {
  margin-left: 12px;
}

.social img:hover {
  opacity: 0.6;
}

form p {
  text-align: left !important;
}

input {
  width: 360px;
  height: 40px;

  font-size: 20px;
  margin-bottom: 30px;
}
textarea {
  width: 100%;
  height: 160px;
}

input:first-of-type {
  margin-right: 25px;
}

input,
textarea {
  border: 1px solid #999;
  margin-top: 10px;
}

.contact__form h1::after {
  display: block;
  content: "";
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}
.contact__form {
  padding: 100px 0 100px 0;
}

.contact__form h1 {
  margin-bottom: 30px;
  color: #000;
  text-align: center;
}

.contact__form p {
  text-align: center;
}

.button__block {
  display: flex;
  justify-content: flex-end;
}

input[type="submit"] {
  width: 165px;
  height: 40px;
  background-color: #fcac45;
  color: #fff;
  border: none;
  margin-right: 0;
  margin-top: 20px;
}

@media screen and (max-width: 1050px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    font-size: 25px;
  }
  nav {
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive {
    height: 340px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }

  main .main__welcome {
    padding: 50px 0 50px 0;
  }
  main .main__welcome p {
    font-size: 14px;
  }

  main .main__welcome h1 {
    font-size: 25px;
  }

  .mw-100 {
    max-width: 100%;
  }

  .main__about {
    flex-direction: column;
  }
  .about__right {
    text-align: center;
    margin-left: 0;
    margin-top: 25px;
  }
  .about__right li {
    text-align: left;
  }
  .about__right h1 {
    margin-top: 10px;
    font-size: 20px;
  }

  .team__cards {
    flex-direction: column;
  }

  main .main__work p {
    margin-bottom: 100px;
  }

  main .gallery__line {
    flex-direction: column;
  }
  main .main__work .gallery .line1 img:not(:first-child) {
    display: none;
  }
  main .main__work .gallery .line2 img:not(:first-child) {
    display: none;
  }
  main .main__work .gallery .line3 img:not(:first-child) {
    display: none;
  }
  .form__inputs {
    flex-direction: column;
  }
  .contact__wrapper {
  }

  .form__inputs input {
    width: 100%;
  }

  main .services__cards {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    margin-left: 10%;
  }
}
